package components

templ Footer () {
<div class="text-text1 bg-background fixed flex justify-evenly flex-row bottom-0 w-full pb-2">
	@FooterItem("groups", "/overview")
	@FooterItem("add_circle", "/addTournament")	
	@FooterItem( "emoji_events", "/tournament")
</div>
}
