package components

templ FooterItem (icon string, href string) {
	<button hx-get={href} hx-target="#main" hx-push-url="true">
		<span class="material-symbols-outlined" style="font-size: 4em; ">
			{icon}
		</span>
	</button>

}
